<div class="wl-full shadow-lg shadow-grey-500/50 bg-gray-900">
  <div class="flex items-center">
    <div class="text-white ml-2 p-3 w-[23%]">
      <h1 class="text-xl font-bold">eStore</h1>
    </div>

    <div class="p-0 my-4 w-[50%] h-[2.5rem] bg-white flex items-center">
      <input class = "w-[90%] h-full inline-block border-none outline-none px-3" placeholder="Search...."/>
      <button class="w-[10%] h-10 border-none bg-gray-300 flex justify-center items-center">
        <fa-icon [icon]="faSearch">
            Icon
        </fa-icon>
      </button>
    </div>

  </div>
</div>
